= render "layouts/header"
%nav.bread-crumbs
  %ul
    %li{itemscope: "", itemtype: ""}
      = link_to "/" do
        %span{itemprop: "title"}
          - breadcrumb :users_card_create
          = breadcrumbs
%main.l-container.clearfix
  .l-content
    %section.l-chapter-container-mypage-identification
      %section.buy-content
        %h2.creditcard-title クレジットカード情報入力
      %section.buy-content
      .credit-container
        .credit-content
          %label.sell-item-name
            カード番号
            %span.form-require-userid 必須
            %input.sell-card-number{type: "text", placeholder: "半角数字のみ"}
            .info-creditcard_contents_form_field-cards
              %img.card{:src => "/assets/visa.svg"}/
              %img.card{:src => "/assets/master-card.svg"}/
              %img.card{:src => "/assets/saison-card.svg"}/
              %img.card{:src => "/assets/jcb.svg"}/
              %img.card{:src => "/assets/american_express.svg"}/
              %img.card{:src => "/assets/dinersclub.svg"}/
              %img.card{:src => "/assets/discover.svg"}/

        .credit-content
          %label.sell-item-name
            有効期限
            %span.form-require-userid 必須
            .card-select-wrap
              %select.select-expire
                %option{:value => "1"} 1
                %option{:value => "2"} 2
                %option{:value => "3"} 3
                %option{:value => "4"} 4
                %option{:value => "5"} 5
                %option{:value => "6"} 6
                %option{:value => "7"} 7
                %option{:value => "8"} 8
                %option{:value => "9"} 9
                %option{:value => "10"} 10
                %option{:value => "11"} 11
                %option{:value => "12"} 12
              %span.expire 月
              %h3.fas.fa-angle-down
              %select.select-expire
                %option{:value => "19"} 19
                %option{:value => "20"} 20
                %option{:value => "21"} 21
                %option{:value => "22"} 22
                %option{:value => "23"} 23
                %option{:value => "24"} 24
                %option{:value => "25"} 25
                %option{:value => "26"} 26
                %option{:value => "27"} 27
                %option{:value => "28"} 28
                %option{:value => "29"} 29
              %span.expire 年
              %h3.fas.fa-angle-down

        .credit-content
          %label.sell-item-name
            セキュリティコード
            %span.form-require-userid 必須
            %input.sell-card-number{type: "text", placeholder: "カード背面4桁もしくは3桁の番号"}

              =link_to users_card_create_path do
                %p.fas.fa-question-circle
                  カード裏面の番号とは？

        .credit-content
          = link_to users_creditcard_path do
            %button.send-creditadd-btn{method: :post, type: "submit"}
              追加する

  = render "layouts/l_sidebar"
= render "layouts/footer"
