.mercari
  .mercari-header
    %h1
      = link_to "/" do
        = image_tag "logo.svg", style: "background: rgb(245, 245, 245);"

  .info-credit
    .info-credit_header
      %h2 支払い番号
    .info-credit_contents
      .info-credit_contents_form
        .info-credit_contents_form_field
          = form_with url: pay_path(@user), local: true do |f|
            %p
              カード番号　　
            %span.span-red 必須
            = f.text_field :number, maxlength: "16", placeholder: "半角数字のみ", class: "info-credit_contents_form_field_input"
            .info-credit_contents_form_field-cards
              = image_tag "visa.svg", class: "card"
              = image_tag "master-card.svg", class: "card"
              = image_tag "saison-card.svg", class: "card"
              = image_tag "jcb.svg", class: "card"
              = image_tag "american_express.svg", class: "card"
              = image_tag "dinersclub.svg", class: "card"
              = image_tag "discover.svg", class: "card"
              .info-credit_contents_form_field_date
                %p
                  有効期限　　　
                  %span.span-red 必須
                %li
                  = f.number_field :exp_month, class: "input-num"
                  %p 月
                %li
                  = f.number_field :exp_year, class: "input-num"
                  %p 年
              %p
                セキュリティーコード
                %span.span-red 必須
              = f.text_field :cvc, placeholder: "カードの背面の４桁もしくは３桁の番号",  class:"info-credit_contents_form_field_input-content"
              %p.sentence-blue カード裏側の番号とは？
              %button.submit{type: "submit"} 次へ進む
    .mercari-footer
      %nav
        %ul
          %li プライバシーポリシー
          %li メルカリ利用規約
          %li 特定商取引に関する表記
      .mercari-footer_contents
        = link_to "/", class: "single-footer-logo" do
          = image_tag "mercari.svg", style: "background: rgb(245, 245, 245);"
        %p
          %small © 2019 Mercari
