= render "layouts/header"
%nav.bread-crumbs
  %ul
    %li{itemscope: "", itemtype: ""}
      = link_to "/" do
        %span{itemprop: "title"}
          - breadcrumb :users_show
    %li{itemscope: "", itemtype: ""}
      %span{itemprop: "title"}
        = breadcrumbs
%main.l-container.clearfix
  .l-content
    %section.mypage-user-icon
      = link_to "" do
        .mypage_avater
          - if current_user.avater.nil?
            = image_tag asset_path"avater.png",class: "avater_signin"
          - else
            = current_user.avater
        %h2.mybold
          -if user_signed_in?
            = current_user.nickname
          -else
            = テストです
        .mypage-number
          .mynum 評価
          %span.mybold 0
          .mynum 出品数
          %span.mybold 0
    %section.mypage-tab-contents
      %ul.mypage-tab
        %li
          %h3
            =link_to 'お知らせ',"#mypage-tab-notification"
        %li
          %h3
            = link_to 'やることリスト',"#mypage-tab-todo"
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane
          %li
            = link_to "",{class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li
            = link_to "",{class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li
            = link_to "",{class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li
            = link_to "",{class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li
            = link_to "",{ class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li.mypage-go-list
            = link_to '一覧を見る',""
        %ul#mypage-tab-todo.mypage-item-list.tab-pane
          = image_tag asset_path"mercari.svg"
          %li.mypage-item-not-found.bold 現在、やることリストはありません
    %section.mypage-tab-under
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs
        %li
          %h3
            = link_to'取引中', "#mypage-tab-transaction-now"
        %li
          %h3
            = link_to'過去の取引' ,"#mypage-tab-transaction-old"
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-panes
          = image_tag asset_path"mercari.svg"
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage-item-list.tab-panes
          = image_tag asset_path"mercari.svg"
          %li.mypage-item-not-found.bold 過去に取引した商品がありません
  = render "layouts/l_sidebar"
= render "layouts/footer"
= render "layouts/sellbutton"
