= render "layouts/header"
%nav.bread-crumbs
  %ul
    %li{itemscope: "", itemtype: ""}
      = link_to "" do
        %span{itemprop: "title"} メルカリ
      = fa_icon("angle-right")
    %li{itemscope: "", itemtype: ""}
      %span{itemprop: "title"} マイページ
%main.l-container.clearfix
  .l-content
    %section.mypage-user-icon
      = link_to "" do
        %figure
          = image_tag asset_path"banner/dum05.gif",class: "image-mypage"
        %h2.mybold テスト
        .mypage-number
          .mynum 評価
          %span.mybold 0
          .mynum 出品数
          %span.mybold 0
    %section.mypage-tab-contents
      %ul.mypage-tabs
        %li.now
          %h3
            =link_to 'お知らせ',"#mypage-tab-notification"
        %li
          %h3
            = link_to 'やることリスト',"#mypage-tab-todo"
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane
          %li
            = link_to "",{class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li
            = link_to "",{class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li
            = link_to "",{class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li
            = link_to "",{class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li
            = link_to "",{ class: "mypage-item-link"} do
              %figure
                = image_tag asset_path"dum04.gif",class: "lazyload"
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【P500進呈】ご登録ありがとうございます！メルカリでのお買い物をお楽しみください♪」
                %time
                  =fa_icon("clock")
                  %span 1 日前
              =fa_icon("chevron-right")
          %li.mypage-go-list
            = link_to '一覧を見る',""
        %ul#mypage-tab-todo.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold 現在、やることリストはありません
    %section.mypage-tab-under
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs
        %li.now
          %h3
            = link_to'取引中', "#mypage-tab-transaction-now"
        %li
          %h3
            = link_to'過去の取引' ,"#mypage-tab-transaction-old"
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane
          = image_tag "/assets/mercari.svg"
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
          = image_tag "/assets/mercari.svg"
          %li.mypage-item-not-found.bold 過去に取引した商品がありません
  = render "layouts/l_sidebar"
= render "layouts/footer"
