= render "layouts/header"
%nav.bread-crumbs
  %ul
    %li{itemscope: "", itemtype: ""}
      = link_to "/" do
        %span{itemprop: "title"}
          - breadcrumb :users_sign_out
          = breadcrumbs
%main.l-container.clearfix
  .l-content
    .sign_out-container
      .sign_out-content
        = link_to destroy_user_session_path, method: :delete do
          %button.send-signout-btn{method: :delete, type: "submit"} ログアウト

  = render "layouts/l_sidebar"
= render "layouts/footer"
