= render "layouts/header"
%nav.bread-crumbs
  %ul
    %li{itemscope: "", itemtype: ""}
      = link_to "/" do
        %span{itemprop: "title"} メルカリ
      = fa_icon("angle-right")
    %li{itemscope: "", itemtype: ""}
      %span{itemprop: "title"} マイページ
      = fa_icon("angle-right")
    %li{itemscope: "", itemtype: ""}
      %span{itemprop: "title"} ログアウト
%main.l-container.clearfix
  .l-content
    .sign_out-container
      .sign_out-content
        = link_to destroy_user_session_path do
          %button.send-signout-btn{method: :delete, type: "submit"} ログアウト

  = render "layouts/l_sidebar"
= render "layouts/footer"
