!!!
%html
  %head
    %title mercari
    %script{src: "https://www.google.com/recaptcha/api.js?render=6LfOU4kUAAAAADvfIChNQTbPj-VHuWd5bPj7kJU5"}
  %body.mercari
    .mercari-header
      %h1
        = link_to "/" do
          = image_tag "logo.svg", style: "background: rgb(245, 245, 245);"
    .main-login
      .main-login-reg
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録" ,  "/users/signin_form"
      .main-login_body
        .main-login_body_bottun
          = link_to "#", class: "btn facebook" do
            %span.fab.fa-facebook>
            Facebookでログイン
          = link_to "#" , class: "btn google" do
            %span.fab.fa-google &gt;Googleでログイン
      = form_with  url: "/users/sign_in",  local: true  do |f|      
        .main-login_body_contents
          メールアドレス
          = f.email_field :email, autofocus: true
          パスワード
          = f.password_field :password, autocomplete: "off"
          .g-recaptcha{"data-callback" => "clearcall", "data-sitekey" => "6LfOU4kUAAAAADvfIChNQTbPj-VHuWd5bPj7kJU5", style: "margin-top: 30px;"}
          = f.submit "ログイン", class: "login-form"
          %br/ 
          = link_to "パスワードをお忘れの方", "#"
      .mercari-footer
        %nav
          %ul
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li 特定商取引に関する表記
        .mercari-footer_contents
          = link_to "/", class: "single-footer-logo" do
            = image_tag  "mercari.svg", style: "background: rgb(245, 245, 245);"
          %p
            %small © 2019 Mercari