.side-serch-content
  =form_with url:search_items_path, action: :novalidate, class: "left-search-form", local: true do |f|
    .search-sort
      .search-select-wrap
        =f.select "sort-order" do
          %option 並び替え
          %option{value: "price_asc"}    価格の安い順
          %option{value: "price_desc"}   価格の高い順
          %option{value: "created_asc"}  出品の古い順
          %option{value: "created_desc"} 出品の新しい順
          %option{value: "like_desc"}    いいね！の多い順
        = fa_icon("angle-down")

    .search-dropdown-content.search-extend
      %h3.search-more
        詳細検索
      .search-form-group
        .icon-plus
          = fa_icon("plus")
          %span.keyword キーワードを追加する
          =f.text_field :"left-search-input", class: "left-search-input", value: "検索", name: "keyword", type: "text",placeholder: "例）値下げ"

      .search-form-group-list
        .icon-plus
          = fa_icon("list")
          %span.keyword カテゴリーを選択する
          =f.select "choice-category" do
            %option すべて
            %option{value: "category"}    カテゴリー
          = fa_icon("angle-down")
      .search-form-group-tag
        .icon-plus
          = fa_icon("tag")
          %span.keyword ブランド名から探す
          =f.text_field :"brand-search-input", class: "brand-search-input", value: "", name: "keyword", type: "text",placeholder: "例）シャネル"

      .search-form-size-list
        .icon-plus
          = fa_icon("vector-square")
          %span.keyword サイズを指定する
          =f.select "choice-category" do
            %option すべて
            %option{value: "size"} サイズ
          = fa_icon("angle-down")

      .search-form-size-list
        .icon-plus
          = fa_icon("coins")
          %span.keyword 価格
          =f.select "price-category" do
            %option 選択してください
            %option{value: "price"} 300 ~ 1000
          = fa_icon("angle-down")
        .icon-plus
          =f.text_field :"min-price-input", class: "min-price-input", value: "", name: "keyword", type: "text",placeholder: "¥ Min"
          %span ~
          =f.text_field :"max-price-input", class: "max-price-input", value: "", name: "keyword", type: "text",placeholder: "¥ Max"

      .search-form-size-list
        .icon-plus
          = fa_icon("star")
          %span.keyword 商品の状態
        .condition-check-box
          .condition-check-box-left
            = f.check_box :item_condition, {checked: :true}
            %span
            = f.label :condition, "すべて",id: "condition-box"
          .condition-check-box-right
            = f.check_box :item_condition, {checked: :true}
            = f.label :condition, "新品・未使用品",id: "condition-box"
        .condition-check-box
          .condition-check-box-left
            = f.check_box :item_condition, {checked: :true}
            %span
            = f.label :condition, "未使用に近い",id: "condition-box"
          .condition-check-box-right
            = f.check_box :item_condition, {checked: :true}
            = f.label :condition, "目立った傷や汚れなし",id: "condition-box"
        .condition-check-box
          .condition-check-box-left
            = f.check_box :item_condition, {checked: :true}
            = f.label :condition, "やや傷や汚れあり",id: "condition-box"
          .condition-check-box-right
            = f.check_box :item_condition, {checked: :true}
            = f.label :condition, "傷や汚れあり",id: "condition-box"
        .condition-check-box
          .condition-check-box-left
            = f.check_box :item_condition, {checked: :true}
            = f.label :condition, "全体的に状態が悪い",id: "condition-box"

      .search-form-ship-list
        .icon-plus
          = fa_icon("truck-moving")
          %span.keyword 配送料の負担
        .condition-check-box
          .condition-check-box-left
            = f.check_box :item_shipping, {checked: :true}
            %span
            = f.label :shipping, "すべて",id: "shippng-box"
          .condition-check-box-right
            = f.check_box :item_shipping, {checked: :true}
            = f.label :shipping, "着払い(購入者負担)",id: "shipping-box"
        .condition-check-box
          .condition-check-box-left
            = f.check_box :item_shipping, {checked: :true}
            %span
            = f.label :shipping, "送料込み(出品者負担)",id: "shipping-box"

      .search-form-cart-list
        .icon-plus
          = fa_icon("shopping-cart")
          %span.keyword 販売状況
        .condition-check-box
          .condition-check-box-left
            = f.check_box :item_status, {checked: :true}
            %span
            = f.label :status, "すべて",id: "status-box"
          .condition-check-box-right
            = f.check_box :item_shipping, {checked: :true}
            = f.label :status, "販売中",id: "status-box"
        .condition-check-box
          .condition-check-box-left
            = f.check_box :item_status, {checked: :true}
            %span
            = f.label :status, "売り切れ",id: "status-box"

        .search-form-buttons
          %button.items-search-clear-btn
            クリア
          %button.items-search-finish-btn
            完了
