.mercari-header
  %h1
    = link_to root_path do
      .header_mecari_img_hi


.sell-main-content.clearfix
  .sell-item-container
    .sell-container-inner
      %h2.sell-container-header 商品の情報を入力
    = form_with model: @item,class: "sell-form", local: true do |f|
      .sell-upload-box
        %h3.sell-upload-text
          出品画像
          %span.form-require 必須
        %p.upload-image 最大10枚までアップロード出来ます
        .sell-image-dropbox-contentair


          =f.fields_for :item_images do |i|
            %label.sell-uploader-drop-box
              =i.file_field :image
              %pre.visible-pc
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
          .sell-uploader-items-container


      .sell-items-content.clearfix
        .form-item-name
          %label.sell-item-name
            商品名
            %span.form-require 必須
        .input-form-groups
          = f.text_field :name, class: "sell-item-name",placeholder: "商品名（必須40文字まで）"
        .input-form-groups
          .form-item-name
            %label.sell-item-name
              商品の説明
              %span.form-require 必須
          =f.text_area :introduction,class: "sell-item-info",type: "input",rows: "5", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .sell-items-content.clearfix
        %h3.sell-detail-text
          商品の詳細
        .sell-form-box
          .sell-form-groups
            %label.sell-item-name
              カテゴリー
              %span.form-require 必須
              .select-wrap-category
                %select#category_id{name: "item[category_id]",class: "parents"}
                  %option{value:"0" } ---
                  - Category.where(parent_id: nil).each do |category1|
                    %option{value: category1.id}
                      = category1.category_name
                = fa_icon("angle-down")

              .select-wrap-category
                %select#category_id{name: "item[category_id]",class: "child"}
                  %option{value: ""} ---
                  - Category.each_with_level(Category.all) do |category, level|
                    %option{value: category.id, parent: category.parent_id}
                      = category.category_name

              .select-wrap-category
                %select#category_id{name: "item[category_id]",class: "grandson"}
                  %option{value: ""} ---
                  - Category.each_with_level(Category.all) do |category, level|
                    %option{value: category.id, parent: category.parent_id}
                      = category.category_name

          .sell-form-groups#clothes
            %label.sell-item-name
              サイズ
              %span.form-require 必須
              .select-wrap-category
                =f.collection_select :size_id,Size.limit(10),:id,:size_name,{prompt: "---"}
                = fa_icon("angle-down")
          .sell-form-groups#shoes
            %label.sell-item-name
              サイズ
              %span.form-require 必須
              .select-wrap-category
                =f.collection_select :size_id,Size.limit(14).offset(10),:id,:size_name,{prompt: "---"}
                = fa_icon("angle-down")
          .sell-form-groups
            %label.sell-item-name
              ブランド
              %span.form-require#self 任意
              .select-wrap-category
                = f.select :brand_id do
                  %option ---
                  %option{value: "1"} アディダス
                  %option{value: "2"}ナイキ
                  %option{value: "3"}プーマ
                  %option{value: "4"}ボルコム
                  %option{value: "5"}アシックス
                  %option{value:"6"}リーボック
                  %option{value:"7"}アンブロ
                  %option{value:"8"}ミズノ
                  %option{value:"13"}シャネル
                  %option{value:"110"}その他
          .sell-form-groups
            %label.sell-item-name
              商品の状態
              %span.form-require 必須
              .select-wrap-category
                =f.select :condition do
                  %option ---
                  %option{value: "新品、未使用品"} 新品、未使用品
                  %option{value: "未使用に近い"} 未使用に近い
                  %option{value: "目立った傷や汚れなし"} 目立った傷や汚れなし
                  %option{value: "やや傷や汚れあり"} やや傷や汚れあり
                  %option{value: "全体的に状態が悪い"} 全体的に状態が悪い
                = fa_icon("angle-down")


      .sell-items-content.clearfix
        %h3.sell-detail-text
          配送について
          = link_to new_item_path do
            =fa_icon("question-circle")
        .sell-form-box
          .sell-form-groups
            %label.sell-item-name
              発送料の負担
              %span.form-require 必須
              .select-wrap-category#pare
                =f.select :shippingfee, selected: "selected" do
                  %option{value: ""} ---
                  %option{value: "送料込み(出品者負担)"} 送料込み（出品者負担）
                  %option{value: "着払い(購入者負担)"} 着払い（購入者負担）
                = fa_icon("angle-down")

          .sell-form-groups#chi
            %label.sell-item-name
              配送の方法
              %span.form-require 必須
              .select-wrap-category
                =f.select :delivery do
                  %option{value:""} ---
                  %option{value: "未定"} 未定
                  %option{value: "らくらくメルカリ便"} らくらくメルカリ便
                  %option{value: "ゆうメール"} ゆうメール
                  %option{value: "クロネコヤマト"} クロネコヤマト
                = fa_icon("angle-down")

          .sell-form-groups
            %label.sell-item-name
              発送元の地域
              %span.form-require 必須
              .select-wrap-category
                =f.select :shipfrom do
                  %option ---
                  %option{value: "関西"} 関西
                  %option{value: "北海道"} 北海道
                  %option{value: "東北"} 東北
                  %option{value: "関東"} 関東
                  %option{value: "中部"} 中部
                  %option{value: "四国"} 四国
                  %option{value: "九州"} 九州
                  %option{value: "沖縄"} 沖縄
                = fa_icon("angle-down")

          .sell-form-groups
            %label.sell-item-name
              発送までの日数
              %span.form-require 必須
              .select-wrap-category
                =f.select :shipping_date do
                  %option ---
                  %option{value: "1~2日で発送"} 1~2日で発送
                  %option{value: "2~3日で発送"} 2~3日で発送
                  %option{value: "4~7日で発送"} 4~7日で発送
                = fa_icon("angle-down")

      .sell-items-content-calc
        %h3.sell-price-text
          販売価格(300〜9,999,999)
          = link_to new_item_path do
            =fa_icon("question-circle")
        .sell-form-box
          .sell-form-groups-list
            .sell-item-price-left
              %label.sell-item-name-left
                価格
                %span.form-require 必須
            .sell-item-price-right
              .input-form-groups
                ¥
                =f.text_field :price,class: "sell-item-price",placeholder: "例）300"
          .sell-form-groups-list-calc
            .sell-item-carc-left
              販売手数料(10%)
            .sell-item-carc-right
              ー
          .sell-form-groups-list-ans
            .sell-item-ans-left
              販売利益
            .sell-item-ans-right -

      .modal.is-show.is-animate.sell-draft{role: "dialog", tabindex: "-1"}
        .modal-inner
          %div.inner-modal
            %h3.modal-head 出品が完了しました
            .sell-modal-body  あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます
            .btn-defalut-red
              = link_to '続けて出品する', new_item_path ,class: "btn btn-default-modal"
            %p.text-center
              = link_to '商品ページへ行ってシェアする', "/"

      .sell-items-content-btn
        .sell-items-coution-box
          =link_to new_item_path, class: "sell-coution-message"  do
            禁止されている出品
          、
          =link_to new_item_path, class: "sell-coution-message" do
            行為
          を必ずご確認ください。
          .coution-middle
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          =link_to new_item_path, class: "sell-coution-message" do
            偽ブランドの販売
          は犯罪であり処罰される可能性があります。
          .coution-bottom
          また、出品を持ちまして
          =link_to new_item_path, class: "sell-coution-message" do
            加盟店規約
          に同意したことになります。
        = f.submit "出品する", class: "items-send-btn"
        %button.back-sell-btn
          もどる
.mercari-footer
  %nav
    %ul
      %li プライバシーポリシー
      %li メルカリ利用規約
      %li 特定商取引に関する表記
  .mercari-footer_contents
    =link_to root_path, class: "single-footer-logo" do
      .mercari_img_contents
    %p
      %small © 2019 Mercari
