= render "layouts/header"
.item-content-box-main
  %nav.bread-crumbs
    %ul
      %li{itemscope: "", itemtype: ""}
        = link_to "/" do
          %span{itemprop: "title"} メルカリ
        = fa_icon("angle-right")
      %li{itemscope: "", itemtype: ""}
        %span{itemprop: "title"}sample
  %section.itembox-container
    %h1.item-name [新品]テスト用！ダウンコート！[新品]
    .item-main-content
      .item-photo
        .main-image
          =image_tag asset_path "dum02.gif"
        .image-detail
          %ul.sub-image
            %li
              =image_tag asset_path "dum02.gif"
            %li
              =image_tag asset_path "dum04.gif"
            %li
              =image_tag asset_path "banner/dum01.gif"
            %li
              =image_tag asset_path "banner/dum03.gif"
            %li
              =image_tag asset_path "banner/dum05.gif"
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to 'マリオ・ザガロ',""
              .rating-box
                .user-rating
                  = fa_icon ("grin")
                  %span 10
                .user-rating2
                  = fa_icon("meh")
                  %span 0
                .user-rating3
                  = fa_icon("frown-open")
                  %span 10000
          %tr
            %th カテゴリー
            %td
              =link_to ""  do
                .name メンズ
              =link_to ""  do
                .sub-name
                  =fa_icon("angle-right")
                  ジャケット
              =link_to ""  do
                .middle-name
                  =fa_icon("angle-right")
                  ダウンコート
          %tr
            %th ブランド
            %td
              =link_to "" do
                .item-brand ブッチ
          %tr
            %th 商品のサイズ
            %td LL
          %tr
            %th 商品の状態
            %td 新品・未使用
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td ゆうゆうメルカリ便
          %tr
            %th 配送元地域
            %td
              = link_to 'ブラジル',""
          %tr
            %th 発送日の目安
            %td 2~3日で発送
    .item-price-box
      %span.item-price-money ¥ 140,000
      %span.item-tax (税込)
      %span.item-free 送料込み
    =link_to '購入画面に進む',"",class: "btn item-buy"
    .item-description
      %p.itemdecription-in
      【新品】無印良品 オーストラリアダウン水を弾くフードコート L・黒オーストラリアダウン水を弾くフードコート（ダウンコート・ベンチコート)・黒・Lです。ファーは取り外し可能（ファスナータイプ）です。スタッフ用ベンチコートとして購入しましたが、他のもう少し安いアウトドアブランドのを購入しましたので、こちらは出品します。一点のみです。✴︎写真は無印良品公式サイトより引用フィルパワー750のオーストラリアダウンをふんだんに使用し、撥水加工が施された生地は水をよく弾き、寒さだけでなく、雨風にも強い仕立てになっております。新品です。取り置き、専用などには対応しておりません。あらかじめご了承ください。万一、値引きする場合、こちらのタイミングで決めます。また完全無欠な商品をお求めの方は、そもそもこのような場所で購入してはいけません。通常の店舗、ネットにて購入してください。メーカー：無印良品状態：新品サイズ：L胸囲：96 - 104cm身長：175 - 185ｃｍ素材：・表地：ポリエステル100%・裏地：ポリエステル100%・中わた：ダウン90%・フェザー10%・リブ部分：アクリル78%・ポリエステル12%・ウール9%・ポリウレタン1%・ファー部分：アクリル85%・ポリエステル15%カラー：黒価格：25,900円禁煙・ペットなしです。✴︎土日祝日の発送は基本的に対応しておりません。✴︎「専用」には応じません。✴︎写真はカメラやモニターにより光の加減から実際の色とは多少の違いが生じる場合があります。あらかじめご了承ください。✴︎出来るだけコンパクトに折りたたみ、簡易包装で発送致しますので、あらかじめご了承ください。
    .item-button-container
      .item-button-left
        =link_to "", class: "btn item-button-like" do
          =fa_icon("heart")
          %span いいね!
          %span.fade-in 0
        = link_to "", class: "btn item-button-report" do
          =fa_icon("flag")
          %span 不適切な商品の報告
      .item-button-right
        =link_to "" do
          = fa_icon("user-lock")
          %span あんしん・あんぜんへの取り組み

  .item-detail-message
    .message-container
      .message-content
        %form.message-form{action: ""}
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.textarea-default{type:"text"}
          %button.message-submit-btn{type: "submit"}
            %span コメントする
  %ul.nav-item-link
    %li.item-prev
      = link_to "" do
        =fa_icon("angle-left")
        ジーパン
    %li.item-next
      = link_to "" do
        ジャンパー
        =fa_icon("angle-right")
  .item-social-box
    %ul.social-media-box
      %li
        =link_to "",class: "btn share-btn" do
          %i.fab.fa-facebook-square.fa-3x
      %li
        =link_to "",class: "btn share-btn" do
          %i.fab.fa-twitter-square.fa-3x
      %li
        =link_to "",class: "btn share-btn" do
          %i.fab.fa-pinterest-square.fa-3x

  .item-inuser-profile
    %section.item-box-inuser
      .main-section
        %h2.section-name マリオ・ザガロのその他商品
        .section-item
          .items-box
            = link_to "" do
              =image_tag asset_path"banner/dum01.gif"
              .item-box-body
                .item-box-name テストの商品です
                .item-box-price
                  .price-section¥7,777
                  .item-liks
                    =fa_icon("heart")
                    %span 10
                  %p.item-tax (税込)
          .items-box
            = link_to "" do
              =image_tag asset_path"banner/dum01.gif"
              .item-box-body
                .item-box-name テストの商品です
                .item-box-price
                  .price-section¥7,777
                  .item-liks
                    =fa_icon("heart")
                    %span 10
                  %p.item-tax (税込)
          .items-box
            = link_to "" do
              =image_tag asset_path"banner/dum01.gif"
              .item-box-body
                .item-box-name テストの商品です
                .item-box-price
                  .price-section¥7,777
                  .item-liks
                    =fa_icon("heart")
                    %span 10
                  %p.item-tax (税込)
    %section.item-box-overflow
      %h2.section-brand ブッチ 新着アイテム
      .brand-item
        .items-box
          = link_to "" do
            =image_tag asset_path"banner/dum01.gif"
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  =fa_icon("heart")
                  %span 10
                %p.item-tax (税込)
        .items-box
          = link_to "" do
            =image_tag asset_path"banner/dum01.gif"
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  =fa_icon("heart")
                  %span 10
                %p.item-tax (税込)
        .items-box
          = link_to "" do
            =image_tag asset_path"banner/dum01.gif"
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  =fa_icon("heart")
                  %span 10
                %p.item-tax (税込)
        .items-box
          = link_to "" do
            =image_tag asset_path"banner/dum01.gif"
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  =fa_icon("heart")
                  %span 10
                %p.item-tax (税込)
        .items-box
          = link_to "" do
            =image_tag asset_path"banner/dum01.gif"
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  =fa_icon("heart")
                  %span 10
                %p.item-tax (税込)
        .items-box
          = link_to "" do
            =image_tag asset_path"banner/dum01.gif"
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  =fa_icon("heart")
                  %span 10
                %p.item-tax (税込)
= render "layouts/footer"
