%header.pc-header
  .pc-header-inner
    .clearfix
      %h1.pc-left
        = link_to "/" do
          =image_tag asset_path("logo.svg"),alt: "mercari"
      = search_form_for(@search, url:search_items_path) do |f|
        = f.search_field :name_cont,value: "", placeholder: "キーワードから探す"
        %i.fas.fa-search
    .clearfix-box
      .head-left
        %ul.menu
          %li
            %h2.menu-down
              =link_to 'カテゴリーから探す',""
            %ul.pull-left
              - Category.each_with_level(Category.roots) do |category, level|
                %li
                  = category.category_name
          %li
            %h2.menu-down
              =link_to 'ブランドから探す',""
            %ul.pull-right
              %li
                =link_to 'シャネル',""
              %li
                =link_to 'ナイキ',""
              %li
                =link_to 'ルイ・ヴィトン',""
              %li
                =link_to 'シュプリーム',""
              %li
                =link_to 'アディダス',""
              %li
                =link_to 'ブランド一覧',""
      .head-right
        - if user_signed_in?
          .head-right-signed-in
            .head-user-nav-sigindin
              .header-signedin-box
                = link_to users_show_path, class: "signin_mypage" do
                  .mainpage_avater
                    - if current_user.avater.nil?
                      = image_tag asset_path"avater.png",class: "avater_signin"
                      マイページ
                    - else
                      = current_user.avater
                      マイページ
              .header-signedin-box
                = link_to users_show_path do
                  = fa_icon("bell")
                  お知らせ
              .header-signedin-box
                = link_to users_show_path do
                  = fa_icon("check")
                  やることリスト
        - else
          .btn-case
            =link_to 'ログイン',new_user_session_path,class: "btn log-btn"
            =link_to '新規会員登録', users_signin_form_path,class: "btn new-btn"
