.main-page
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        = image_tag asset_path"banner/swipe-1-start.gif",alt: "Swiper01"
      .swiper-slide
        = image_tag asset_path"banner/swipe-2-tsuyoshi.gif",alt: "Swiper02"
      .swiper-slide
        = image_tag asset_path"banner/swipe-3-point.gif",alt: "Swiper03"
      .swiper-slide
        = image_tag asset_path"banner/swiper-4-merukari.gif",alt: "Swiper04"
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
    :javascript
      var swiper = new Swiper('.swiper-container', {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        loop: true,
        speed: 500,
        pagination: {
        el: '.swiper-pagination',
        type: 'bullets'
        },
        autoplay:{
        delay: 4000,
         disableOnInteraction: false
        },
      });
  .pickup-page
    %h2.pickup-head ピックアップカテゴリー
    .main-section
      %h3.section-name メンズ 新着アイテム
      .section-item
        - @mens_category.each do |item|
          = render partial: 'item', locals: { item: item }
        .section-all
          = link_to'すべての商品を見る',""

    .main-section
      %h3.section-name レディース 新着アイテム
      .section-item
        - @ladys_category.each do |item|
          = render partial: 'item', locals: { item: item }
        .section-all
          = link_to'すべての商品を見る',""

    .main-section
      %h3.section-name ベイビー 新着アイテム
      .section-item
        - @kids_category.each do |item|
          = render partial: 'item', locals: { item: item }
        .section-all
          = link_to'すべての商品を見る',""

    %h2.pickup-bottom ピックアップブランド
    .main-section
      %h3.section-brand シャネル 新着アイテム
      .brand-item
        - @chanel_brand.each do |item|
          = render partial: 'item', locals: { item: item }
        .section-all
          = link_to'すべての商品を見る',""

    .main-section
      %h3.section-brand ナイキ 新着アイテム
      .brand-item
        - @nike_brand.each do |item|
          = render partial: 'item', locals: { item: item }
        .section-all
          = link_to'すべての商品を見る',""

    .main-section
      %h3.section-brand アディダス 新着アイテム
      .brand-item
        - @adidas_brand.each do |item|
          = render partial: 'item', locals: { item: item }
        .section-all
          = link_to'すべての商品を見る',""
